*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
  color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    

}
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;}

/* header and navication styles */


nav{
    display: flex;
    justify-content: space-between ;
    margin: 50px 200px ;
}
.nav-title{
    font-size: 45px;
font-style: normal;
font-weight: 800;
}
nav li{
    list-style: none;
    margin-left: 50PX;
    
}
nav ul{
    display: flex;
    align-items: center;
}
/* banner styles */
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-sub-title{
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-weight: 600;


}
.banner-title{
color: var(--Dark-01, #181818);
font-size: 85px;
font-weight: 700;
margin: 5px 20px 0 0;

}
.banner-description{ 
 color: var(--Dark-03, #757575);
font-size: 18px;
font-weight: 400;
line-height: 30px;

}
img{width: 584px;
    height: 676px;}
    /* main section */
    main{
        max-width: 1140px;
        margin: 0 auto;
    }
/* about section styles */
section{
    margin-top: 130px;
}
.about{
    margin-top: 130px;
    border-radius: 10px;
background: #FFF8F3;
padding: 130px 150px;
text-align: center;
}
.section-title{
    color: var(--Dark-01, #181818);
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
margin-bottom: 15px;
text-align: center;
}
.section-description{
    color: var(--Dark-03, #757575);
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-bottom: 15px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: hsl(0, 0%, 28%);
}
/* what i do section */
.what-i-do{
    margin-top: 130px;
   
}
.skill-shortcut{
    color: var(--Dark-03, #757575);
text-align: center;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
margin-bottom: 30px;
}
.what-i-do img{
width: 44px;
height: 44px;
margin: 30px 0 0 40px;
}
.skill-container{
    display: flex;
    gap: 24px;
    justify-content: space-around;}
    .skill{
        border-radius: 5px;
        background: #FFF;
        box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
        
        width: 267px;
        height: 377px;
        }
    
   
.skill-title{
    font-weight: 700;
    font-size: 20px;
    color: var(--Dark-01, #181818);
    margin: 20px 0 20px 40px;
}
.skill-description{
    color: var(--Dark-03, #757575);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
width: 201px;
margin-left: 40px;
}
/* resume section */

.resume-content{
    display: flex;
    gap: 24px;
    text-align: center;
    justify-content: space-around;
}
.resume-item{
    margin: 30px 0;
}
.resume .title{
    color: var(--Dark-02, #474747);
font-family: Open Sans;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 10px;

}
.resume .sub-title{
    color: var(--Dark-03, #757575);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 30px;
}
.resume .description{

    color: var(--Dark-03, #757575);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
width: 511px;
}
.resume-button{
    margin-top: 30px;
    text-align: center;
}
/* footer styles */
footer{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 130px 200px;
    margin-top: 130px;
    justify-content: center;
}
.footer-title{
    color: var(--Dark-01, #181818);
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.footer-description{
    color: var(--Dark-02, #474747);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
width: 562px;
margin-bottom: 10px;
}
a img{
    width: 24px;
height: 24px;
}
input, textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
